@import 'utils';
@import 'fonts';

html {
  scroll-behavior: smooth;
}

body {
  background: $page-color;
  font-family: Inter;
  font-weight: $normal-font-weight;
  font-size: 16px;
  margin: 0;
  scroll-behavior: smooth;
}

.page {
  &__aside {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-120%);

    transition:
      opacity 0.3s,
      background-color 0.3s,
      transform 0.3s 0.3s;

    &--active {
      pointer-events: all;
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.5);
      transform: translateX(0);

      transition:
        transform 0.3s,
        background-color 0.3s 0.3s;
    }
  }
}
