.icon {
  width: 20px;
  height: 20px;
  background-image: url(../images/burger-menu.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  @include hover(transform, scale(1.2));

  &--fb {
    background-image: url('../images/footer-social-1.svg');
  }
  &--tw {
    background-image: url('../images/footer-social-2.svg');
  }
  &--yt {
    background-image: url('../images/footer-social-3.svg');
  }
  &--rd {
    background-image: url('../images/footer-social-4.svg');
  }

  &--close {
    border: none;
    cursor: pointer;
    background-image: url('../images/close.svg');
  }
}
