@import './body.scss';
@import './section.scss';
@import './header.scss';
@import './dropdown.scss';
@import './icon.scss';
@import './nav.scss';
@import './video-button.scss';
@import './description.scss';
@import './slider.scss';
@import './gaming.scss';
@import './about.scss';
@import './article.scss';
@import './benefits.scss';
@import './tech.scss';
@import './buy-button.scss';
@import './contacts.scss';
@import './form.scss';
@import './footer.scss';
@import './open-bar.scss';
@import './video-modal.scss';
@import './faq.scss';
@import './accordion.scss';
@import './help.scss';
@import './bucket.scss';
